<html>
    <head>
        <title>TEST</title>

    </head>
    <body>
        <ul id="nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about-me">About Me</a>
            </li>
            <li>
                <a href="/events">Events</a>
            </li>
            <li>
                <a href="/press">Press</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/connect">Connect</a>
            </li>
            <li>
                <a href="/join-our-network">Join Our Network</a>
            </li>


        </ul>

        {% block mainContent%}{% endblock %}
    </body>
</html>
