{% extends "layout.html" %}

{% block mainContent %}


<section
  id="relume"
  class="flex w-full items-center border-b border-border-primary bg-background-primary lg:min-h-18 lg:px-[5%]"
>
  <div
    class="mx-auto size-full lg:grid lg:grid-cols-[0.375fr_1fr_0.375fr] lg:items-center lg:justify-between lg:gap-4"
  >
    <div
      class="flex min-h-16 items-center justify-between px-[5%] md:min-h-18 lg:min-h-full lg:px-0"
    >
      <a href="#"
        ><img
          src="https://d22po4pjz3o32e.cloudfront.net/logo-image.svg"
          alt="Logo image"
      /></a>
      <div class="flex items-center gap-4 lg:hidden">
        <div>
          <button
            class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary bg-background-alternative text-text-alternative w-full px-4 py-1"
            title="Join"
          >
            Join
          </button>
        </div>
        <button
          class="-mr-2 flex size-12 flex-col items-center justify-center lg:hidden"
        >
          <span class="my-[3px] h-0.5 w-6 bg-black"></span
          ><span class="my-[3px] h-0.5 w-6 bg-black"></span
          ><span class="my-[3px] h-0.5 w-6 bg-black"></span>
        </button>
      </div>
    </div>
    <div
      class="overflow-hidden px-[5%] text-center lg:flex lg:items-center lg:justify-center lg:px-0 lg:[--height-closed:auto] lg:[--height-open:auto]"
      style="height:var(--height-closed, 0)"
    >
      <a
        href="#"
        class="block py-3 text-md first:pt-7 lg:px-4 lg:py-2 lg:text-base first:lg:pt-2"
        >Home</a
      ><a
        href="#"
        class="block py-3 text-md first:pt-7 lg:px-4 lg:py-2 lg:text-base first:lg:pt-2"
        >About Us</a
      ><a
        href="#"
        class="block py-3 text-md first:pt-7 lg:px-4 lg:py-2 lg:text-base first:lg:pt-2"
        >Services</a
      >
      <div>
        <button
          class="flex w-full items-center justify-center gap-4 py-3 text-center text-md lg:w-auto lg:flex-none lg:justify-start lg:gap-2 lg:px-4 lg:py-2 lg:text-base"
        >
          <span>Resources</span
          ><span
            ><svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.13523 6.15803C3.3241 5.95657 3.64052 5.94637 3.84197 6.13523L7.5 9.56464L11.158 6.13523C11.3595 5.94637 11.6759 5.95657 11.8648 6.15803C12.0536 6.35949 12.0434 6.67591 11.842 6.86477L7.84197 10.6148C7.64964 10.7951 7.35036 10.7951 7.15803 10.6148L3.15803 6.86477C2.95657 6.67591 2.94637 6.35949 3.13523 6.15803Z"
                fill="currentColor"
              ></path></svg
          ></span>
        </button>
        <nav
          class="bg-background-primary lg:absolute lg:z-50 lg:border lg:border-border-primary lg:p-2 lg:[--y-close:25%]"
          style="visibility:hidden;opacity:var(--opacity-close, 0);display:none;transform:translateY(var(--y-close, 0%))"
        >
          <a
            href="#"
            class="block py-3 text-center lg:px-4 lg:py-2 lg:text-left"
            >Blog</a
          ><a
            href="#"
            class="block py-3 text-center lg:px-4 lg:py-2 lg:text-left"
            >Testimonials</a
          ><a
            href="#"
            class="block py-3 text-center lg:px-4 lg:py-2 lg:text-left"
            >Contact Us</a
          >
        </nav>
      </div>
    </div>
    <div class="hidden justify-self-end lg:block">
      <button
        class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary bg-background-alternative text-text-alternative px-6 py-2"
        title="Join"
      >
        Join
      </button>
    </div>
  </div>
</section>

<section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div class="w-full max-w-lg">
      <p class="mb-3 font-semibold md:mb-4">Explore</p>
      <h1 class="mb-5 text-6xl font-bold md:mb-6 md:text-9xl lg:text-10xl">
        Upcoming Transformational Events
      </h1>
      <p class="md:text-md">
        Join us for inspiring events designed to elevate your journey and
        connect with like-minded individuals.
      </p>
      <div class="mt-6 flex flex-wrap gap-4 md:mt-8">
        <button
          class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary bg-background-alternative text-text-alternative px-6 py-3"
          title="Learn More"
        >
          Learn More</button
        ><button
          class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary text-text-primary bg-background-primary px-6 py-3"
          title="Sign Up"
        >
          Sign Up
        </button>
      </div>
    </div>
  </div>
</section>

<section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div
      class="mb-12 grid grid-cols-1 items-end gap-12 md:mb-18 md:grid-cols-[1fr_max-content] lg:mb-20 lg:gap-20"
    >
      <div class="max-w-lg">
        <p class="mb-3 font-semibold md:mb-4">Upcoming</p>
        <h1 class="mb-3 text-5xl font-bold md:mb-4 md:text-7xl lg:text-8xl">
          Events
        </h1>
        <p class="md:text-md">
          Explore our diverse offerings and transformative experiences.
        </p>
      </div>
      <button
        class="focus-visible:ring-border-primary gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary text-text-primary bg-background-primary px-6 py-3 hidden md:flex"
        title="View all"
      >
        View all
      </button>
    </div>
    <div
      class="grid grid-cols-1 gap-x-8 gap-y-12 md:grid-cols-2 md:gap-y-16 lg:grid-cols-3"
    >
      <div class="flex flex-col items-start border border-border-primary">
        <a href="#" class="relative block aspect-[3/2] w-full"
          ><img
            src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
            alt="Relume placeholder image 1"
            class="absolute size-full object-cover"
          />
          <div
            class="absolute right-4 top-4 flex min-w-28 flex-col items-center bg-background-primary px-1 py-3 text-sm"
          >
            <span>Fri</span
            ><span class="text-2xl font-bold md:text-3xl lg:text-4xl">09</span
            ><span>Feb 2024</span>
          </div></a
        >
        <div class="flex flex-col items-start p-6">
          <span
            class="mb-3 bg-background-secondary px-2 py-1 text-sm font-semibold md:mb-4"
            >Workshop</span
          ><a href="#"
            ><h2 class="text-xl font-bold md:text-2xl">
              Mindfulness and Meditation
            </h2></a
          >
          <p class="mb-2">Studio</p>
          <p>
            Join us for a transformative journey into mindfulness and
            self-discovery.
          </p>
          <button
            class="focus-visible:ring-border-primary inline-flex items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border-0 text-text-primary gap-2 p-0 mt-5 md:mt-6"
            title="View event"
          >
            View event<svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="flex flex-col items-start border border-border-primary">
        <a href="#" class="relative block aspect-[3/2] w-full"
          ><img
            src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
            alt="Relume placeholder image 2"
            class="absolute size-full object-cover"
          />
          <div
            class="absolute right-4 top-4 flex min-w-28 flex-col items-center bg-background-primary px-1 py-3 text-sm"
          >
            <span>Sat</span
            ><span class="text-2xl font-bold md:text-3xl lg:text-4xl">10</span
            ><span>Feb 2024</span>
          </div></a
        >
        <div class="flex flex-col items-start p-6">
          <span
            class="mb-3 bg-background-secondary px-2 py-1 text-sm font-semibold md:mb-4"
            >Class</span
          ><a href="#"
            ><h2 class="text-xl font-bold md:text-2xl">Yoga Flow Session</h2></a
          >
          <p class="mb-2">Gym</p>
          <p>
            Experience rejuvenation and strength through our dynamic yoga flow
            class.
          </p>
          <button
            class="focus-visible:ring-border-primary inline-flex items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border-0 text-text-primary gap-2 p-0 mt-5 md:mt-6"
            title="View event"
          >
            View event<svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="flex flex-col items-start border border-border-primary">
        <a href="#" class="relative block aspect-[3/2] w-full"
          ><img
            src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
            alt="Relume placeholder image 3"
            class="absolute size-full object-cover"
          />
          <div
            class="absolute right-4 top-4 flex min-w-28 flex-col items-center bg-background-primary px-1 py-3 text-sm"
          >
            <span>Sun</span
            ><span class="text-2xl font-bold md:text-3xl lg:text-4xl">11</span
            ><span>Feb 2024</span>
          </div></a
        >
        <div class="flex flex-col items-start p-6">
          <span
            class="mb-3 bg-background-secondary px-2 py-1 text-sm font-semibold md:mb-4"
            >Retreat</span
          ><a href="#"
            ><h2 class="text-xl font-bold md:text-2xl">
              Weekend Wellness Retreat
            </h2></a
          >
          <p class="mb-2">Resort</p>
          <p>
            Immerse yourself in relaxation and rejuvenation at our weekend
            wellness retreat.
          </p>
          <button
            class="focus-visible:ring-border-primary inline-flex items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border-0 text-text-primary gap-2 p-0 mt-5 md:mt-6"
            title="View event"
          >
            View event<svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="mt-12 flex justify-end md:hidden">
      <button
        class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary text-text-primary bg-background-primary px-6 py-3"
        title="View all"
      >
        View all
      </button>
    </div>
  </div>
</section>

<section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div class="mb-12 md:mb-18 lg:mb-20">
      <div class="mx-auto max-w-lg text-center">
        <h4 class="font-semibold">Events</h4>
        <h1 class="mt-3 text-5xl font-bold md:mt-4 md:text-7xl lg:text-8xl">
          Schedule
        </h1>
        <p class="mt-5 text-base md:mt-6 md:text-md">
          Join us for transformative experiences that elevate your mind, body,
          and spirit.
        </p>
      </div>
    </div>
    <div class="" data-orientation="vertical">
      <div
        data-state="closed"
        data-orientation="vertical"
        class="border-b border-border-primary first:border-t-0"
      >
        <h3 data-orientation="vertical" data-state="closed" class="flex w-full">
          <button
            type="button"
            aria-controls="radix-:R1m:"
            aria-expanded="false"
            data-state="closed"
            data-orientation="vertical"
            id="radix-:Rm:"
            class="flex flex-1 items-center justify-between py-4 font-bold transition-all focus-visible:outline-none focus-visible:ring-0 [&amp;[data-state=open]&gt;svg]:rotate-180 text-2xl md:py-5 md:text-3xl md:leading-[1.3] lg:text-4xl"
            data-radix-collection-item=""
          >
            Friday 09 Feb<svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              class="size-7 shrink-0 text-text-primary transition-transform duration-300 md:size-8"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.13523 6.15803C3.3241 5.95657 3.64052 5.94637 3.84197 6.13523L7.5 9.56464L11.158 6.13523C11.3595 5.94637 11.6759 5.95657 11.8648 6.15803C12.0536 6.35949 12.0434 6.67591 11.842 6.86477L7.84197 10.6148C7.64964 10.7951 7.35036 10.7951 7.15803 10.6148L3.15803 6.86477C2.95657 6.67591 2.94637 6.35949 3.13523 6.15803Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </h3>
        <div
          data-state="closed"
          id="radix-:R1m:"
          hidden=""
          role="region"
          aria-labelledby="radix-:Rm:"
          data-orientation="vertical"
          class="overflow-hidden data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
          style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)"
        ></div>
      </div>
      <div
        data-state="closed"
        data-orientation="vertical"
        class="border-b border-border-primary first:border-t-0"
      >
        <h3 data-orientation="vertical" data-state="closed" class="flex w-full">
          <button
            type="button"
            aria-controls="radix-:R1q:"
            aria-expanded="false"
            data-state="closed"
            data-orientation="vertical"
            id="radix-:Rq:"
            class="flex flex-1 items-center justify-between py-4 font-bold transition-all focus-visible:outline-none focus-visible:ring-0 [&amp;[data-state=open]&gt;svg]:rotate-180 text-2xl md:py-5 md:text-3xl md:leading-[1.3] lg:text-4xl"
            data-radix-collection-item=""
          >
            Saturday 10 Feb<svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              class="size-7 shrink-0 text-text-primary transition-transform duration-300 md:size-8"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.13523 6.15803C3.3241 5.95657 3.64052 5.94637 3.84197 6.13523L7.5 9.56464L11.158 6.13523C11.3595 5.94637 11.6759 5.95657 11.8648 6.15803C12.0536 6.35949 12.0434 6.67591 11.842 6.86477L7.84197 10.6148C7.64964 10.7951 7.35036 10.7951 7.15803 10.6148L3.15803 6.86477C2.95657 6.67591 2.94637 6.35949 3.13523 6.15803Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </h3>
        <div
          data-state="closed"
          id="radix-:R1q:"
          hidden=""
          role="region"
          aria-labelledby="radix-:Rq:"
          data-orientation="vertical"
          class="overflow-hidden data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
          style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)"
        ></div>
      </div>
      <div
        data-state="closed"
        data-orientation="vertical"
        class="border-b border-border-primary first:border-t-0"
      >
        <h3 data-orientation="vertical" data-state="closed" class="flex w-full">
          <button
            type="button"
            aria-controls="radix-:R1u:"
            aria-expanded="false"
            data-state="closed"
            data-orientation="vertical"
            id="radix-:Ru:"
            class="flex flex-1 items-center justify-between py-4 font-bold transition-all focus-visible:outline-none focus-visible:ring-0 [&amp;[data-state=open]&gt;svg]:rotate-180 text-2xl md:py-5 md:text-3xl md:leading-[1.3] lg:text-4xl"
            data-radix-collection-item=""
          >
            Sunday 11 Feb<svg
              stroke="currentColor"
              fill="none"
              stroke-width="0"
              viewBox="0 0 15 15"
              class="size-7 shrink-0 text-text-primary transition-transform duration-300 md:size-8"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.13523 6.15803C3.3241 5.95657 3.64052 5.94637 3.84197 6.13523L7.5 9.56464L11.158 6.13523C11.3595 5.94637 11.6759 5.95657 11.8648 6.15803C12.0536 6.35949 12.0434 6.67591 11.842 6.86477L7.84197 10.6148C7.64964 10.7951 7.35036 10.7951 7.15803 10.6148L3.15803 6.86477C2.95657 6.67591 2.94637 6.35949 3.13523 6.15803Z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </h3>
        <div
          data-state="closed"
          id="radix-:R1u:"
          hidden=""
          role="region"
          aria-labelledby="radix-:Ru:"
          data-orientation="vertical"
          class="overflow-hidden data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
          style="--radix-accordion-content-height:var(--radix-collapsible-content-height);--radix-accordion-content-width:var(--radix-collapsible-content-width)"
        ></div>
      </div>
    </div>
  </div>
</section>

<section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div
      class="grid grid-cols-1 gap-x-20 gap-y-12 md:gap-y-16 lg:grid-cols-2 lg:items-center"
    >
      <div>
        <h2
          class="rb-5 mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl"
        >
          Join Our Upcoming Events
        </h2>
        <p class="md:text-md">
          Stay updated on our latest events and exclusive offerings by signing
          up today!
        </p>
        <div class="mt-6 flex flex-wrap gap-4 md:mt-8">
          <button
            class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary bg-background-alternative text-text-alternative px-6 py-3"
            title="Sign Up"
          >
            Sign Up</button
          ><button
            class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary text-text-primary bg-background-primary px-6 py-3"
            title="Learn More"
          >
            Learn More
          </button>
        </div>
      </div>
      <div>
        <img
          src="https://d22po4pjz3o32e.cloudfront.net/placeholder-image-landscape.svg"
          class="w-full object-cover"
          alt="Relume placeholder image"
        />
      </div>
    </div>
  </div>
</section>

<footer id="relume" class="px-[5%] py-12 md:py-18 lg:py-20">
  <div class="container">
    <div
      class="grid grid-cols-1 items-start justify-between gap-x-[8vw] gap-y-12 pb-12 sm:gap-y-10 md:gap-y-14 md:pb-18 lg:grid-cols-[1fr_0.5fr] lg:pb-20"
    >
      <div class="flex flex-col items-start">
        <a href="#" class="mb-8"
          ><img
            src="https://d22po4pjz3o32e.cloudfront.net/logo-image.svg"
            alt="Logo image"
            class="inline-block"
        /></a>
      </div>
      <div class="max-w-md lg:min-w-[25rem]">
        <p class="mb-3 font-semibold md:mb-4">Join</p>
        <form
          class="mb-3 grid grid-cols-1 gap-x-4 gap-y-3 sm:grid-cols-[1fr_max-content] sm:gap-y-4 md:gap-4"
        >
          <div class="relative flex w-full items-center">
            <input
              type="email"
              class="flex size-full min-h-11 border border-border-primary bg-background-primary py-2 align-middle file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-neutral focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 px-3"
              id="email"
              placeholder="Your Email Here"
              value=""
            />
          </div>
          <button
            class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary text-text-primary bg-background-primary px-5 py-2"
            title="Join"
          >
            Join
          </button>
        </form>
        <p class="text-xs">By subscribing, you accept our Privacy Policy.</p>
      </div>
    </div>
    <div class="h-px w-full bg-black"></div>
    <div
      class="flex flex-col items-start justify-start pb-4 pt-6 text-sm md:flex-row md:items-center md:justify-between md:pb-0 md:pt-8 md:text-center"
    >
      <ul
        class="grid grid-flow-row grid-cols-[max-content] gap-y-4 text-sm md:grid-flow-col md:gap-x-6 md:gap-y-0 lg:justify-center"
      >
        <li class="underline decoration-black underline-offset-1">
          <a href="#">Privacy Policy</a>
        </li>
        <li class="underline decoration-black underline-offset-1">
          <a href="#">Terms of Use</a>
        </li>
        <li class="underline decoration-black underline-offset-1">
          <a href="#">Cookie Settings</a>
        </li>
      </ul>
      <p>© 2024 Amplified Expansion Coaching. All rights reserved.</p>
    </div>
  </div>
</footer>

{% endblock %}
